## Strings

A sequence of characters surrounded by either single or double quotes.

In [1]:
my_str_1 = 'Hello'
my_str_2 = "World"

To create a multi-line string use triple quotes.

In [2]:
my_str_3 = '''This is a multi-line
string that spans multiple lines.'''

You have two options to quote phrase:
1. Use the opposite kind of quotes.

In [3]:
msg = "It's a beautiful day!"
quote = 'He said, "Python is awesome!"'

2. Escape the quotation mark with backslash ( \ ).

In [4]:
msg = 'It\'s a beautiful day!'
quote = "He said, \"Python is awesome!\""

### String Methods

1. To check the occurence of a characters in a string:
- you can use **in** operator.

In [5]:
my_str = 'Hello world'

print('Hello' in my_str)  # True
print('hey' in my_str)    # False
print('hi' in my_str)    # False
print('e' in my_str)  # True
print('f' in my_str)  # False

True
False
False
True
False

2. To check the length of a string:
- use **len** function.

In [6]:
my_str = 'Hello world'
print(len(my_str))  # 11

11

3. To get a character at a specific position:
- use square brackets [], with the index of character.

In [7]:
my_str = "Hello world"

print(my_str[0])  # H
print(my_str[6])  # w

H
w

4. Negative Indexing: To get the last character of a string:
- use negative sign with index of cahracter in brackets [-].

In [1]:
my_str = 'Hello world'
print(my_str[-1])  # d
print(my_str[-2]) # l

d
l

- Primitive data types - simple and immutable.
- Reference types - hold multiple values, and are either immutable or mutable.

- Strings are immutable data types in Python.

In [2]:
greeting = 'hi'
greeting = 'hello'
print(greeting) # hello

hello

### String Concatenation and Interpolation

- In Python, you can combine string using (+) operator â†’ string concatenation.

In [3]:
my_str_1 = 'Hello'
my_str_2 = 'World'

str_concat = my_str_1 + ' ' + my_str_2
print(str_concat)  # Hello World

Hello World

- Only works with strings, not with strings and numbers.

In [4]:
name = 'John Doe'
age = 26

name_and_age = name + age
print(name_and_age) # TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

- To fix it, convert number into a string using built-in **str()** function.

In [5]:
name = 'John Doe'
age = 26

name_and_age = name + ' ' + str(age)
print(name_and_age) # John Doe 26

John Doe 26

- Use augmented assignment operator (+=) for concatenation.

In [7]:
name = 'John Doe'
age = 27

name_and_age = name
name_and_age += ' ' + str(age)
print(name_and_age)  # John Doe 27

John Doe 27

**String Interpolation** - process of inserting variables and expressions into a string.

- f-strings allows handling interpolation with a compact and readable syntax.
- F-strings start with f/F before quotes, allowing you to embed variables or expressions inside replacement fields indicated by curly braces {}.

In [8]:
name = 'John Doe'
age = 26
name_and_age = f'My name is {name} and I am {age} years old.'
print(name_and_age)  # My name is John Doe and I am 26 years old

My name is John Doe and I am 26 years old.

In [9]:
num1 = 5
num2 = 10
print(f"the sum of {num1} and {num2} is {num1 + num2}") # the sum of 5 and 10 is 15

the sum of 5 and 10 is 15

### String Slicing

- it allows extraction of a portion of a string to work with it.
- Basic syntax
    - string[start : stop]
    - stop index is non-inclusive

In [10]:
my_str = 'Hello world'
print(my_str[0:3])  # Hel

Hel

- You can omit either start or stop indices (default would be 0) and both.

In [12]:
my_str = 'Hello world'
print(my_str[:4])  # Hell

Hell

In [14]:
my_str = 'Hello world'
print(my_str[6:])  # world

world

In [17]:
my_str = 'Hello world'
print(my_str[:])  # Hello world

Hello world

- string slicing does not effect original string.

In [16]:
my_str = 'Hello world'
print(my_str[7:])  # orld
print(my_str)  # Hello world

orld
Hello world

- step parameter - used to indicate increment between each index in the slice.
- Basic syntax
    - string[start : stop : step]

In [19]:
my_str = 'Hello world'
print(my_str[0:11:2])  # Hlowrd

Hlowrd

- reversing a string - use -1 as a step parameter ignoring start and stop to reverse the string.

In [20]:
my_str = 'Hello world'
print(my_str[::-1])  # dlrow olleH

dlrow olleH

### String Methods

1. **upper()**: returns a new string with all characters converted to uppercase.

In [ ]:
my_str = 'Hello world'
print(my_str.upper()) # HELLO WORLD

HELLO WORLD

2. **lower()**: returns a new string with all characters converted to lowercase.

In [22]:
my_str = 'Hello world'
print(my_str.lower()) # hello world

hello world

3. **strip()**: remove the white spaces from the string.

In [23]:
my_str = '  Hello world  '
print(my_str.strip())  # 'Hello world'

Hello world

4. **replace(old, new)**: returns a new string with all occurences of old replaced by new.

In [24]:
my_str = 'Hello world'
print(my_str.replace('world', 'there'))  # Hello there

Hello there

5. **split(separator)**: Splits a string on a specified separator into a list of strings.
- If no separator is specified, it splits on whitespace.

In [25]:
my_str = 'Hello world'
print(my_str.split())  # ['Hello', 'world']

['Hello', 'world']

6. **join(iterable)**: joins elements of an iterable into a string with a separator.

In [26]:
my_list = ['Hello', 'world']
my_str = ' '.join(my_list)
print(my_str)  # Hello world

Hello world

7. **startswith(prefix)**: returns a boolean indicating if a string starts with the specified prefix.
8. **endswith(suffix)**: returns a boolean indicating if a string starts with the specified suffix.

In [27]:
my_str = 'Hello world'
print(my_str.startswith('Hello'))  # True
print(my_str.endswith('world'))    # True

True
True

9. **find(substring)**: returns the index of first occurence of substring, or -1 if it doesn't find one.

In [29]:
my_str = 'Hello world'
print(my_str.find('world'))  # 6
print(my_str.find('there'))  # -1

6
-1

10. **count(substring)**: returns the number of items a substring appears in a string.

In [31]:
my_str = 'Hello world'
print(my_str.count('l'))  # 3

3

11. **capitalize()**: returns a new string with first character capitalized.

In [32]:
my_str = 'hello world'
print(my_str.capitalize())  # Hello world

Hello world

12. **isupper()**: returns True if all letters in the string are upper and False if not.
13. **islower()**: does the opposite of above method.

In [33]:
my_str = 'hello world'
print(my_str.isupper())  # False
print(my_str.islower())  # True

False
True

14. **title()**: returns a new string with first letter of each word capitalize.

In [34]:
my_str = 'hello world'
print(my_str.title())  # Hello World

Hello World